.button {
  background: #2b2b2b;
  border: 2px solid #ffffff;
  border-radius: 51px;
  display: flex;
  justify-content: center;
  padding: 7px 15px;
  font-size: 14px;
  line-height: 100%;
  align-items: center;
  color: #d1d1d1;
  gap: 10px;
  cursor: pointer;
  filter: drop-shadow(0px rgba(0, 0, 0, 0.13));
  &:disabled {
    background: rgba(47, 47, 47, 0.7);
    border: 2px solid rgba(166, 166, 166, 0.28);
    border-radius: 51px;
    color: #414040;
    cursor: default;
  }
  svg,img{
    max-width: 20px;
    max-height: 20px;
  }
}
