.landingHome {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0px 70px;
}

.landingHomeGradientLine {
  height: 1080px;
  background: linear-gradient(
    180deg,
    #ffa800 0%,
    #fc6666 27.08%,
    #e93e9f 57.77%,
    #5f5cfc 100%
  );
  width: 140px;
  position: absolute;
  z-index: 0;
  left:0px;
  top:0px;
}

.landingHomeIntroText {
  width: 928px;
  font-size: 170px;
  line-height: 70%;
  font-family: "NeueMachina";
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 2;
}

.landingHomeIntroTextLogo{
    font-family: 'Helvetica Light';
    padding: 0px 20px 0px 80px;
}

.landingHomeIntroTextStar{
    font-family: 'Helvetica Bold';
    font-size:100px;
    vertical-align: super;
}