@font-face {
    font-family: 'Rancho';
    src: local('Rancho'), url('../assets/fonts/Rancho/Rancho.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NeueMachina';
    src: url('../assets/fonts/NeueMachina/NeueMachina-Ultrabold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../assets/fonts/Helvetica/helveticaneuecyr_roman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Bold';
    src: url('../assets/fonts/Helvetica/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto-Regular'), url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: local('Roboto-Medium'), url('../assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto-Bold'), url('../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}